@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans');
@import url(menu.css);
@import url(banner.css);


{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;       
}
body{
   font-family: 'Open Sans', sans-serif;
    background: #9ACFFC;
}
header{
    width: 100%;
    height: 99px;
    background: #9ACFFC;
    color: #333;
    position: fixed 
        left 0;
    z-index: 100;
}

.contenedor{
    
    width: 98%;
    margin: auto;
    
}
h1{
    float: right;
}
header .contenedor {
    display: table;
}
section{
    width: 100%;
    margin-bottom: 25px;
    
    
}
.contenedorBotones{
    margin:auto;
    text-align:center;
    margin-top:70px;

}
.contenedorBottom{
    margin:auto;
    text-align:center;
    margin-top:60px;
    margin-bottom:20px;
}

.sectionHistoria{
    width: 500px;
    height: 500px;
    margin: auto;
}
.popup {
    background-color: #ffffff;
    color: #888888;
    height: 245px;
    left: 100%;
    padding: 20px;
    position: fixed;
    right: 30%;
    top: 25%;
    width: 550px;
    z-index: 101;
    -moz-box-shadow: 0px 0px 10px 1px #888888;
    -webkit-box-shadow: 0px 0px 10px 1px #888888;
    box-shadow: 0px 0px 10px 1px #888888;
    border-radius:10px;
    -moz-border-radius:10px;
}
 
.overlay {
    background: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    opacity:0.5;
}
 
a.close {
    background: url("cancel.png") repeat scroll left top transparent;
    cursor: pointer;
    float: right;
    height: 26px;
    left: 32px;
    position: relative;
    top: -33px;
    width: 26px;
}

